<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc91d44ac13e0e5897cee39ab18e901:8c89ad4a8bfa521bd1ae7566f7e884c8:2a5141ba4aabbce94e6af5cc1478e6c1$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>POCRunTextureAlats.1@3x.png</string>
                <key>size</key>
                <string>{1389,431}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning7@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{189,230}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{27,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{1,233},{224,195}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{192,1},{191,228}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{23,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{227,231},{220,199}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning6@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{32,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{385,1},{190,228}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning9@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{22,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{449,231},{220,199}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning8@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{28,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{577,1},{194,224}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{16,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{671,227},{216,202}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning10@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{773,1},{200,218}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning11@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{15,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{889,221},{216,202}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{17,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{975,1},{202,216}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning12@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{14,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{1179,1},{202,214}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning13@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{7,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,238}</string>
                        <key>textureRect</key>
                        <string>{{1179,217},{202,212}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>POCRunTextureAlats.1@2x.png</string>
                <key>size</key>
                <string>{138,1959}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{10,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{136,146}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning11@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{9,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,149},{136,146}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{11,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,297},{136,146}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning12@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,445},{136,144}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning13@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{4,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,591},{136,143}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{15,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,736},{134,148}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning9@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{14,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,886},{134,148}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning10@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{13,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1036},{134,147}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{17,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1185},{132,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning8@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1338},{131,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1491},{129,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning7@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1647},{128,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,159}</string>
                        <key>textureRect</key>
                        <string>{{1,1804},{128,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>POCRunTextureAlats.1.png</string>
                <key>size</key>
                <string>{72,1008}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{70,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning13.png</string>
                        <key>spriteOffset</key>
                        <string>{1,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,77},{70,73}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning9.png</string>
                        <key>spriteOffset</key>
                        <string>{6,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,152},{69,75}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning11.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,229},{69,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning12.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,305},{69,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning2.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,381},{69,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning3.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,457},{68,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning10.png</string>
                        <key>spriteOffset</key>
                        <string>{6,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,535},{68,75}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning8.png</string>
                        <key>spriteOffset</key>
                        <string>{8,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,612},{67,77}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning4.png</string>
                        <key>spriteOffset</key>
                        <string>{8,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,691},{67,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning5.png</string>
                        <key>spriteOffset</key>
                        <string>{9,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,769},{66,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning6.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,849},{65,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PocRuning7.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,79}</string>
                        <key>textureRect</key>
                        <string>{{1,929},{65,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
