<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515959686f4e6af9c16b3abf8e85a8bb:3243a95e68588400e557a6388885c001:57c8cd1bcebb8d1afc6f3fa3c83191d5$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>PlayerAnimationTextureAlats.1.png</string>
                <key>size</key>
                <string>{88,1601}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA02.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{86,116}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA01.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,119},{85,117}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA05.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,238},{83,115}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA06.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,355},{83,113}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA07.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,470},{83,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA09.png</string>
                        <key>spriteOffset</key>
                        <string>{6,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,584},{83,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA11.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,698},{83,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA12.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,812},{83,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA13.png</string>
                        <key>spriteOffset</key>
                        <string>{7,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,926},{83,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA08.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1040},{83,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA10.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1153},{83,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA14.png</string>
                        <key>spriteOffset</key>
                        <string>{7,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1266},{83,111}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA03.png</string>
                        <key>spriteOffset</key>
                        <string>{7,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1379},{83,110}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>katoonA04.png</string>
                        <key>spriteOffset</key>
                        <string>{7,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,120}</string>
                        <key>textureRect</key>
                        <string>{{1,1491},{83,109}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
